/* CLICKS */

input[type="radio"]:checked ~ .acc_label > .pic {
  transition: all ease 3s;
  display: flex;
  justify-content: center;
}
input[type="radio"]:checked + label .acc_title p {
  transform: rotate(45grad);
  color: blue;
}
input[type="radio"]:checked + label .acc_title h2 {
  color: blue;
}

/* HOVER BUTTONS */
.accordion_container:hover p {
  display: inline-block;
}
h2:hover ~ .acc_pic {
  align-self: center;
  margin: auto;
  display: inline-block;
}
