/* CLICKS */

input[type="radio"]:checked ~ .acc_label > .acc-img {
  display: flex;
  justify-content: center;
}
.acc-img {
  display: none;
}

.acc_title {
  display: flex;
  justify-content: space-around;
}
.material-symbols-outlined {
  display: none;
}

/* HOVER IMAGES */
.acc_item:hover .acc-img {
  display: flex;
  justify-content: center;
}

/* HOVER BUTTONS */
