body {
  background-color: #f6f6ec;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 1.8em;
  display: flex;
  width: 90%;
  margin: auto;
  font-weight: 600;
  margin-top: 2em;
}
.accordion_container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.acc_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 0.1em rgb(165, 165, 165) solid;
}
h2 {
  font-size: 0.9em;
}
p {
  font-size: 1em;
  font-weight: 600;
}

img {
  width: 70%;
}

/* img {
  width: 10em;
} */
/* 
mobile 320x568, tablet 820x1180, desktop 1920×1080;
 */

/* PHONE */
@media (min-width: 568px) and (max-width: 820px) {
  .accordion_container {
    width: 80%;
  }
  h1 {
    width: 80%;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 2em;
  }
  img {
    width: 65%;
  }
}
/* TABLET */
@media (min-width: 820px) and (max-width: 1180px) {
  .accordion_container {
    width: 80%;
  }
  h1 {
    font-size: 2.2em;
    width: 80%;
  }
  h2 {
    font-size: 1.7em;
  }
  p {
    font-size: 2em;
  }
  img {
    width: 65%;
  }
}

/* DESKTOP */
@media (min-width: 1080px) and (max-width: 2000px) {
  .accordion_container {
    width: 80%;
  }
  h1 {
    font-size: 3.2em;
    width: 80%;
  }
  h2 {
    font-size: 2.2em;
    width: 80%;
  }
  p {
    font-size: 3em;
  }
  img {
    width: 40%;
  }
}

/* MOBILE */
@media (min-width: 320px) and (max-width: 568px) {
}
