* {
  margin: 0;
  padding: 0;
}
.pic {
  /* display: none; */
  justify-content: center;
  display: flex;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}
.acc_title {
  border-top: 0.1em rgb(165, 165, 165) solid;
  display: flex;
  justify-content: space-between;
}

.acc_title {
  display: flex;
  justify-content: space-between;
  height: 4em;
  padding-top: 0.5em;
}
p {
  font-size: 1em;
  font-weight: 600;

  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 1s ease-in-out, height 1s ease-in-out,
    transform 1s ease-in-out;
}
h2 {
  transition: all ease 0.5s;
  font-size: 1.2em;
}
input {
  width: 0;
  height: 0;
  appearance: none;
  display: none;
}

.accordion_container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #f6f6ec;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 1.8em;
  display: flex;
  width: 80%;
  font-weight: 600;
  margin: 1em auto 0 auto;
}

.acc_label {
  display: block;
}
img {
  width: 5em;
  margin: 2em 0;
}

/* 
    mobile 320x568, tablet 820x1180, desktop 1920×1080;
     */

/* PHONE */
@media (min-width: 568px) and (max-width: 819px) {
  .accordion_container {
    width: 80%;
  }
  h1 {
    width: 80%;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 2em;
  }
  img {
    width: 65%;
  }
}
/* TABLET */
@media (min-width: 820px) and (max-width: 1180px) {
  .accordion_container {
    width: 80%;
  }
  h1 {
    font-size: 2.2em;
    width: 80%;
  }
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 2em;
  }
  img {
    width: 65%;
  }
}

/* DESKTOP */
@media (min-width: 1080px) and (max-width: 2000px) {
  .accordion_container {
    width: 80%;
  }
  h1 {
    font-size: 3.2em;
    width: 80%;
  }
  h2 {
    font-size: 2.5em;
    width: 80%;
  }
  p {
    font-size: 3em;
  }
  img {
    width: 40%;
  }
}

/* MOBILE */
@media (min-width: 320px) and (max-width: 568px) {
}

/* CLICKS */

input[type="radio"]:checked ~ .acc_label > .pic {
  justify-content: center;
  display: flex;
  opacity: 1;
  height: auto;
  transition-delay: 0s;
}
input[type="radio"]:checked + label .acc_title p {
  transform: rotate(45grad);
  color: blue;
}
input[type="radio"]:checked + label .acc_title h2 {
  color: blue;
}

/* HOVER BUTTONS */
.accordion_container:hover p {
  display: inline-block;
  opacity: 1;
  height: auto;
  transition-delay: 0s;
}

@media (hover: hover) {
  .accordion_container:hover {
    cursor: pointer;
  }

  .acc_title:hover + .pic {
    opacity: 1;
    height: auto;
    transition-delay: 0s;
  }
}
